/build/
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/checksums/checksums.lock
/.gradle/7.4.2/checksums
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/checksums/md5-checksums.bin
.gradle/7.4.2/checksums/sha1-checksums.bin
